<% include('../layouts/header.ejs')%>



<link
rel="icon"
href="/static/adminfile/assets/img/kaiadmin/favicon.ico"
type="image/x-icon"
/>

<!-- Fonts and icons -->
<script src="/static/adminfile/assets/js/plugin/webfont/webfont.min.js"></script>
<script>
WebFont.load({
  google: { families: ["Public Sans:300,400,500,600,700"] },
  custom: {
    families: [
      "Font Awesome 5 Solid",
      "Font Awesome 5 Regular",
      "Font Awesome 5 Brands",
      "simple-line-icons",
    ],
    urls: ["/static/adminfile/assets/css/fonts.min.css"],
  },
  active: function () {
    sessionStorage.fonts = true;
  },
});
</script>

<!-- CSS Files -->
<link rel="stylesheet" href="/static/adminfile/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/adminfile/assets/css/plugins.min.css" />
<link rel="stylesheet" href="/static/adminfile/assets/css/kaiadmin.min.css" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link rel="stylesheet" href="/static/adminfile/assets/css/demo.css" />
</head>
<body>
<div class="wrapper">
<!-- Sidebar -->
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img
          src="/static/adminfile/assets/img/kaiadmin/logo_light.svg"
          alt="navbar brand"
          class="navbar-brand"
          height="20"
        />
      </a>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a
            data-bs-toggle="collapse"
            href="#dashboard"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-homee"></i>
            <p>Dashboard</p>
           </a>
        </li>
       <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/categories">
            <i class="fas fa-pen-squaree"></i>
            <p>Categories</p>
          </a>
        </li>
       <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/users">
            <i class="fas fa-pen-squaree"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a  href="/admin/product">
            <i class="fas fa-pen-squaree"></i>
            <p>products</p>
           </a>
         </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/brand">
            <i class="fas fa-tablee"></i>
            <p>Brands</p>
           </a>
         </li>
        <li class="nav-item active">
          <a data-bs-toggle="collapse" href="/admin/order">
            <i class="fas fa-map-marker-altt"></i>
            <p>Orders</p>
         </a>
         </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/coupon">
            <i class="far fa-chart-barr"></i>
            <p>Coupons</p>
          </a>
         </li>
        <li class="nav-item">
          <a href="/admin/offer">
            <i class="fas fa-desktopp"></i>
            <p>Offers</p>
           </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/logout">
            <i class="fas fa-barss"></i>
            <p>Log out</p>
           </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

<div class="main-panel">
  <div class="main-header">
    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="../index.html" class="logo">
          <img
            src="/static/adminfile/assets/img/kaiadmin/logo_light.svg"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav
      class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
    >
      <div class="container-fluid">
        <nav
          class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
        >
          <div class="input-group">
            <div class="input-group-prepend">
              <button style="border: cornsilk;" type="submit" class="btn btn-search pe-1">
                <a href="/admin/order" style="text-decoration: none;">back to order</a>
              </button>
            </div>
           
          </div>
        </nav>

       
      </div>
    </nav>
    <!-- End Navbar -->
  </div>

       <div class="container">
         <div class="page-inner">
      
           <div class="row">
           

             <div class="col-md-12">
                <div class="card">
                    <main role="main" class="col-md-12 ml-sm-auto col-lg-10 col-sm-12  px-md-4">
                        <div class="order-details-container">
                            <div class="order-address-wrapper">
                                <div class="order-details">
                                    <h3>Order Details</h3>
                                    <p><strong>Order ID:</strong> <%= order.orderId %></p>
                                    <p><strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString() %></p>
                                    <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
                                    <p><strong>Payment Status:</strong> <%= order.paymentStatus %></p>
                                    <p><strong>Order Status:</strong> <%= order.orderStatus %></p>
                                    <p><strong>Delivery Date:</strong>  <%= new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toLocaleDateString() %></p>
                                </div>
                        
                                <div class="address-details">
                                    <h4>Delivery Address</h4>
                                    <p><strong>Name:</strong> <%= order.address.addressName %></p>
                                    <p><strong>Email:</strong> <%= order.address.addressEmail %></p>
                                    <p><strong>Mobile:</strong> <%= order.address.addressMobile %></p>
                                    <p><strong>Address:</strong> <%= order.address.addressStreet %>, <%= order.address.addressPost %>, <%= order.address.addressCity %><br>
                                        <%= order.address.addressDistrict %>, <%= order.address.addressState %>, <%= order.address.addressPin %></p>
                                </div>
                            </div>
                        
                            <div class="items-container">
                                <h4>Items:</h4>
                                <% order.orderItems.forEach(item => { %>
                                <div class="item-box">

                                    <img src=" /static/productimages/<%= item.product.variants[0].images[0]%>" alt="<%= item.product.productName %>" class="product-image">
                                    <div class="item-details">
                                        <h5><%= item.product.productName %></h5> 
                                        <p><strong>Color:</strong> <%= item.color %></p> 
                                        <p><strong>Quantity:</strong> <%= item.quantity %></p> 
                                        <p><strong>Price:</strong> ₹<%= item.price %></p> 
                                        <p><strong>itemStatus:</strong><%= item.itemStatus %></p> 
                                        <select class="custom-select" onchange="statusChange('<%=order.orderId%>','<%=item._id%>',this.value,'<%= item.itemStatus %>','<%= order.user%>')">
                                            <option value="">change status</option>
                                            <option value="order returned">Returned</option>
                                            <option value="delivered">Delivered</option>
                                            <option value="shipped">Shipped</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                            
                        </div>
                        
                    </main>    
            
          
             </div>

        
           </div>
         </div>
       </div>

  
</div>

<style>
.custom-select {
    width: 100px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none; /* This hides the default arrow in some browsers */
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome and Safari */
}

.custom-select:focus {
    outline: none;
    border-color: #007bff; /* Optional: Add focus state styling */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}




    .order-details-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.order-address-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.order-details {
    width: 48%; /* Adjust width to take half of the space */
    margin-bottom: 10px;
}

.address-details {
    width: 48%; /* Adjust width to take half of the space */
    margin-bottom: 10px;
    line-height: 1.3;
    max-width: 400px; /* Ensure address does not exceed four lines */
}

.items-container {
    margin-top: 10px;
}

.items-container h4 {
    margin-bottom: 10px; 
}

.item-box {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 322px;  
    height: 232px; 
    box-sizing: border-box;
}

.product-image {
    width: 50%;    /* Set the image to take up half of the box */
    height: 84%;  /* Ensure the image takes the full height of the box */
    object-fit: cover;
    margin-right: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;    /* Set the details to take up the other half of the box */
}

.item-details h5 {
    margin: 0;
    font-size: 16px; /* Increase font size */
}

.item-details p {
    margin: 0;
    font-size: 14px; /* Increase font size */
    line-height: 1.4; /* Adjust line height for better fit */
}

.cancel-button {
    margin-top: auto; /* Pushes the button to the bottom of the column */
    align-self: flex-start;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #e60000;
}

</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
     function statusChange(orderId,itemId,currentStatus,itemStatus,user) {
      console.log(orderId);
      console.log(itemId);
      console.log(currentStatus,'curr');
      console.log(itemStatus,'item');
      
      console.log(user);

      if (itemStatus === 'Canceled') {
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'Cannot change the status of canceled orders'
        });
        return; // Exit the function early
    }

    if (itemStatus === 'order returned') {
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'Cannot change the status of returned item'
        });
        return; // Exit the function early
    }
    if (itemStatus === 'pending' && currentStatus !='shipped') {
      console.log('inside');
      
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'you can only change pending order status in to shipped'
        });
        return; // Exit the function early
    }

    if (itemStatus === 'shipped' && currentStatus !='delivered') {
      console.log('inside');
      
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'you can only change shipped order status in to delivered'
        });
        return; // Exit the function early
    }

    if (itemStatus === 'delivered' && currentStatus !='order returned') {
      console.log('inside');
      
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'you can only change shipped order status in to delivered'
        });
        return; // Exit the function early
    }






      Swal.fire({
          title: 'Are you sure?',
          text: `You want to ${currentStatus} the order!`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: `Yes,${currentStatus}  it!`
      }).then((result) => {
          if (result.isConfirmed) {
              // Assuming you have a route to handle delete
              fetch('/admin/statusChange', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({orderId,itemId,currentStatus,user}) 
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      Swal.fire(
                          `${currentStatus}!`,
                          `order has been ${currentStatus}.`,
                          'success'
                      ).then(() => {
                          location.reload(); // Reload the page to reflect changes
                      });
                  } else {
                      Swal.fire(
                          'Error!',
                          `There was an issue ${currentStatus} the order.`,
                          'error'
                      );
                  }
              })
              .catch(error => {
                  Swal.fire(
                      'Error!',
                      'There was an issue cancel the order.',
                      'error'
                  );
              });
          }
      });
  }
</script>



<!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script src="/static/adminfile/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/static/adminfile/assets/js/core/popper.min.js"></script>
<script src="/static/adminfile/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/static/adminfile/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="/static/adminfile/assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Kaiadmin JS -->
<script src="/static/adminfile/assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="/static/adminfile/assets/js/setting-demo2.js"></script>
<script>
$(document).ready(function () {
  $("#basic-datatables").DataTable({});

  $("#multi-filter-select").DataTable({
    pageLength: 5,
    initComplete: function () {
      this.api()
        .columns()
        .every(function () {
          var column = this;
          var select = $(
            '<select class="form-select"><option value=""></option></select>'
          )
            .appendTo($(column.footer()).empty())
            .on("change", function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column
                .search(val ? "^" + val + "$" : "", true, false)
                .draw();
            });

          column
            .data()
            .unique()
            .sort()
            .each(function (d, j) {
              select.append(
                '<option value="' + d + '">' + d + "</option>"
              );
            });
        });
    },
  });

  // Add Row
  $("#add-row").DataTable({
    pageLength: 5,
  });

  var action =
    '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

  $("#addRowButton").click(function () {
    $("#add-row")
      .dataTable()
      .fnAddData([
        $("#addName").val(),
        $("#addPosition").val(),
        $("#addOffice").val(),
        action,
      ]);
    $("#addRowModal").modal("hide");
  });
});
</script>



  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<% include('../layouts/footer.ejs')%>