<% include('../layouts/header.ejs')%>



<link
rel="icon"
href="/static/adminfile/assets/img/kaiadmin/favicon.ico"
type="image/x-icon"
/>

<!-- Fonts and icons -->
<script src="/static/adminfile/assets/js/plugin/webfont/webfont.min.js"></script>
<script>
WebFont.load({
  google: { families: ["Public Sans:300,400,500,600,700"] },
  custom: {
    families: [
      "Font Awesome 5 Solid",
      "Font Awesome 5 Regular",
      "Font Awesome 5 Brands",
      "simple-line-icons",
    ],
    urls: ["/static/adminfile/assets/css/fonts.min.css"],
  },
  active: function () {
    sessionStorage.fonts = true;
  },
});
</script>

<!-- CSS Files -->
<link rel="stylesheet" href="/static/adminfile/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/adminfile/assets/css/plugins.min.css" />
<link rel="stylesheet" href="/static/adminfile/assets/css/kaiadmin.min.css" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link rel="stylesheet" href="/static/adminfile/assets/css/demo.css" />
</head>
<body>
<div class="wrapper">
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="white">
           
      <img
        src="/static/img/logo.png"
        alt="navbar brand"
        class="navbar-brand"
        height="20"
      />
    
  </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a
            data-bs-toggle="collapse"
            href="#dashboard"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-homee"></i>
            <p>Dashboard</p>
           </a>
        </li>
       <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/categories">
            <i class="fas fa-pen-squaree"></i>
            <p>Categories</p>
          </a>
        </li>
       <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/users">
            <i class="fas fa-pen-squaree"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a  href="/admin/product">
            <i class="fas fa-pen-squaree"></i>
            <p>products</p>
           </a>
         </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/brand">
            <i class="fas fa-tablee"></i>
            <p>Brands</p>
           </a>
         </li>
        <li class="nav-item Active">
          <a data-bs-toggle="collapse" href="/admin/order">
            <i class="fas fa-map-marker-altt"></i>
            <p>Orders</p>
         </a>
         </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/coupon">
            <i class="far fa-chart-barr"></i>
            <p>Coupons</p>
          </a>
         </li>
        <li class="nav-item">
          <a href="/admin/offer">
            <i class="fas fa-desktopp"></i>
            <p>Offers</p>
           </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="/admin/logout">
            <i class="fas fa-barss"></i>
            <p>Log out</p>
           </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

<div class="main-panel">
  <div class="main-header">
    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="../index.html" class="logo">
          <img
            src="/static/adminfile/assets/img/kaiadmin/logo_light.svg"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
   <!-- Navbar Header -->
   <nav
   class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
 >
   <div class="container-fluid">
     <nav
       class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
     >
       <div class="input-group">
         <div class="input-group-prepend">
           
         </div>
        
       </div>
     </nav>

    
   </div>
 </nav>
 <!-- End Navbar -->
  </div>

  <div class="container">
    <div class="page-inner">
      
      <div class="row">
             <!-- <div class="col-md-12">
          <div class="card"> 
            
            </div> 
           </div>
        </div>  -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Orders(return request<span title="Return Requested">❗</span> )</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  id="multi-filter-select"
                  class="display table table-striped table-hover"
                >
                <% if ( orders.length > 0) { %>
                  <thead>
                    <tr>
                      <th>orderID</th>
                      <th>Order Date</th>
                      <th>Total Price</th>
                      <th>Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% orders.forEach((order) =>{ %>
                          <tr>
                            <td><%= order.orderId %></td>
                            <td><%= new Date(order.orderDate).toLocaleDateString()%></td>
                            <td><%= order.amount %></td>
                            <td>
                              <%= order.orderStatus %>
                              <% if (order.orderItems.some(item => item.returnStatus === 'requested')) { %>
                                <span title="Return Requested">❗</span> 
                              <% } %>
                            </td>
                            
                            <td> <div class="blue-box">
                                <a href="/admin/adminOrderInfo?orderId=<%=order.orderId%>">Info</a>
                                        </div></td>
                          </tr>
                        <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="3">No orders found</td>
                        </tr>
                      <% } %>
                   </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .blue-box {
            background-color: #007BFF; /* Blue background */
            padding: 10px;
            border-radius: 5px;
            display: inline-block;
        }
        
        .blue-box a {
            color: white; /* Link color */
            font-size: 12px; /* Small font size */
            text-decoration: none;
        }

        .blue-box a:hover {
            text-decoration: underline; /* Underline on hover */
        }


</style>

<!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script src="/static/adminfile/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/static/adminfile/assets/js/core/popper.min.js"></script>
<script src="/static/adminfile/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/static/adminfile/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="/static/adminfile/assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Kaiadmin JS -->
<script src="/static/adminfile/assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="/static/adminfile/assets/js/setting-demo2.js"></script>
<script>
$(document).ready(function () {
  $("#basic-datatables").DataTable({});

  $("#multi-filter-select").DataTable({
    pageLength: 5,
    initComplete: function () {
      this.api()
        .columns()
        .every(function () {
          var column = this;
          var select = $(
            '<select class="form-select"><option value=""></option></select>'
          )
            .appendTo($(column.footer()).empty())
            .on("change", function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column
                .search(val ? "^" + val + "$" : "", true, false)
                .draw();
            });

          column
            .data()
            .unique()
            .sort()
            .each(function (d, j) {
              select.append(
                '<option value="' + d + '">' + d + "</option>"
              );
            });
        });
    },
  });

  // Add Row
  $("#add-row").DataTable({
    pageLength: 5,
  });

  var action =
    '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

  $("#addRowButton").click(function () {
    $("#add-row")
      .dataTable()
      .fnAddData([
        $("#addName").val(),
        $("#addPosition").val(),
        $("#addOffice").val(),
        action,
      ]);
    $("#addRowModal").modal("hide");
  });
});
</script>



  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<% include('../layouts/footer.ejs')%>