
<% include('../layouts/header.ejs')  %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>
<title>Male-Fashion | Template</title>

<!-- Google Font -->


<!-- Css Styles -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/elegant-icons.css">
<link rel="stylesheet" href="/static/css/magnific-popup.css">
<link rel="stylesheet" href="/static/css/nice-select.css">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/slicknav.min.css">
<link rel="stylesheet" href="/static/css/style.css">

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <% if (isAuthenticated) { %>
                                <li><a class="text-decoration-none" href='/userProfile'>Account</a></li>
                            <% } else { %>
                                <li><a class="text-decoration-none" href="/login">Sign In</a></li>
                            <% } %>
                           
                            <li><a href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        
                        <a href="/home/whishlist">
                            <img src="img/icon/heart.png" alt=""> <span class="mt-2"><%= wishlistCount %></span> 
                         
                          </a>
                          <a href="/home/cart">
                            <img src="img/icon/cart.png" alt=""><br>
                            <span class="mt-2"><%= cartCount %></span> 
                          </a>
                       
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" style="background-image: url(/static/userimages/1\ st\ main\ image.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text" style="color: white;">
                                <h6 style="color: white;">Summer Collection</h6>
                                <h2 style="color: white;">Fall - Winter Collections 2030</h2>
                                <p style="color: white;">A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/static/userimages/small 1.png" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Baggs Collections 2030</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="/static/userimages/trolly.png" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Explore it</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/static/userimages/gym.png" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Baggs Spring 2030</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                    <% products.slice(0,8).forEach(product => { %>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="product__item">
                            <a href="/productinfo/<%= product._id %>"><div class="product__item__pic clickable-product"  alt="Clickable Image" data-product-id="<%=product._id%>" id="clickableImage" style="background-image: url('/static/productimages/<%= product.variants[0].images[0] %>'); background-position: center;" ></a> 
                               
                            </div>
                            <div class="product__item__text">
                                <h6><%= product.productName %></h6>
                    <a href="#" class="add-cart" data-id="<%= product._id %>">+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>₹<%= product.variants[0].price %></h5>
                                <h5><%= product.variants[0].color %></h5>
                             
                                <div class="product__color__select">
                                    <label for="pc-4">
                                        <input type="radio" id="pc-4">
                                    </label>
                                    <label class="active black" for="pc-5">
                                        <input type="radio" id="pc-5">
                                    </label>
                                    <label class="grey" for="pc-6">
                                        <input type="radio" id="pc-6">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
               
            
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2> bagss <br /> <span>bag Collection</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>₹699</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item" style="background-image: url(/static/userimages/bottom1.png);"></div>
                        <div class="instagram__pic__item" style="background-image: url(/static/userimages/bottom2.png);"></div>
                        <div class="instagram__pic__item" style="background-image: url(/static/userimages/bottom3.png);"></div>
                        <div class="instagram__pic__item" style="background-image: url(/static/userimages/bottom4.png);"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item" style="background-image: url(/static/userimages/bottom6.png);"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
       
    </section>
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Bag Store</a></li>
                            <li><a href="#">Trending Baggs</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
   
    <!-- Search End -->

<!-- add to cart  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 document.addEventListener('DOMContentLoaded', () => {
    // Handle 'Add to Cart' functionality
    document.querySelectorAll('.add-cart').forEach(link => {
        link.addEventListener('click', async (event) => {
            event.preventDefault();
            
            // Get the closest product__item element
            const item = link.closest('.product__item');

            // Extract data from the item
            const productId = link.getAttribute('data-id');
            const productName = item.querySelector('h6').textContent;
            const imageUrl = item.querySelector('.product__item__pic').style.backgroundImage.slice(5, -2).split('/').pop();
            const price = parseFloat(item.querySelector('h5').textContent.replace('₹', '').trim());
            const color = item.querySelector('h5:nth-of-type(2)').textContent;
            const quantity = 1;

            // Confirmation SweetAlert
            const result = await Swal.fire({
                title: 'Add to Cart',
                text: `Are you sure you want to add ${productName} to your cart?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, add it!'
            });

            if (result.isConfirmed) {
                try {
                    const response = await fetch('/shop/add-to-cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            productId,
                            color,
                            price,
                            quantity,
                            imageUrl
                        })
                    });

                    const result = await response.json();
                    if (result.success) {
                        // Success SweetAlert
                        await Swal.fire({
                            title: 'Success!',
                            text: 'Product added to cart successfully!',
                            icon: 'success',
                            confirmButtonColor: '#3085d6'
                        });
                    } else {
                        // Error SweetAlert
                        await Swal.fire({
                            title: 'Error!',
                            text: result.message || 'Failed to add product to cart.',
                            icon: 'error',
                            confirmButtonColor: '#3085d6',
                            footer: '<a href="/login" style="text-decoration: none; color: #007bff; font-weight: bold;">Login or register your account</a>'
                        });
                    }
                } catch (error) {
                    console.error('Error adding product to cart:', error);
                    // Error SweetAlert
                    await Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while adding the product to the cart.',
                        icon: 'error',
                        confirmButtonColor: '#3085d6'
                    });
                }
            }
        });
    });

    // Handle clickable products for navigation
    document.querySelectorAll('.clickable-product').forEach(product => {
        product.addEventListener('click', function() {
            let productId = this.getAttribute('data-product-id');
            console.log('Clicked. Product ID:', productId);
            if (productId) {
                window.location.href = `/productinfo/${productId}`;
            } else {
                console.error('Product ID is null or undefined');
            }
        });
    });
});


</script>




     <script>
        // Select the element where you want to change the background image
const heroItem = document.querySelector('.hero__items');

// Set a new background image URL
const newImageUrl = '/static/userimages/small 1.png ';

// Update the data-setbg attribute
heroItem.setAttribute('data-setbg', newImageUrl);

// Apply the background image using the new URL
heroItem.style.backgroundImage = `url(${newImageUrl})`;

     </script>

   
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
    
<% include('../layouts/footer.ejs') %>